In [42]:
# Project #1 Juypter Notebook
# Created by Melinda Eudy, Cameron Farquhar, Markita Francis, Luis Rojas, Kelly Rose
# Project : 2017 Crime Data Used from several resources ---UCR Crime Rates by County, US Census, and

In [1]:
# Dependencies and Setup *******Review before final presentation and remove what is not needed*********
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import scipy.stats as st
from datetime import date
from functools import reduce
import json
import ctypes  # An included library with Python install.
import datetime

# Import API key
#from config import apikey

In [2]:
# Part 1 - open UCR Crime Rates by County.csv file
#----------open 37059-Codebook County Codes.csv file and merge into first file to obtain County Names 
UCR_Crime = "Resources/UCR_Crime_Rate_by_County.csv"

# Read file and store in Pandas data frame
UCR_Crime_df = pd.read_csv(UCR_Crime)
UCR_Crime_df.head()
#UCR_Crime_df.count() ----all columns had same count

,FIPS_ST,FIPS_CTY,population,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,...,INDEX,MODINDX,MURDER,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON
0,29,510,318416,1791.995377,1,1,4,1612,318667,318667,...,5706,22329,119,200,1778,3609,4995,13791,3543,464
1,5,35,49746,1754.914968,2,1,4,130,50717,50717,...,873,3424,8,38,165,662,1482,1753,189,28
2,17,3,7629,1664.700485,3,1,4,604,8040,8040,...,127,278,1,2,5,119,82,184,12,2
3,48,261,412,1456.310680,4,1,4,2681,444,444,...,6,13,0,3,1,2,5,4,4,0
4,22,31,27083,1447.402430,5,1,4,1137,26971,26971,...,392,703,3,4,17,368,149,494,60,0

In [3]:
# FIPS-ST is the first number of the Code, FIPS_City is the last three numbers of the code.
#-----Make FIPS_City three digits wide (adding zeros in front) and combine the two columns
UCR_Crime_df["FIPS_ST"] = UCR_Crime_df["FIPS_ST"].apply(str)
UCR_Crime_df["FIPS_CTY"] = UCR_Crime_df["FIPS_CTY"].apply(str)
UCR_Crime_df["FIPS_CTY"] = UCR_Crime_df["FIPS_CTY"].apply(lambda x: x.zfill(3))
UCR_Crime_df["CODE"] = UCR_Crime_df[["FIPS_ST", "FIPS_CTY"]].agg("".join, axis=1)
UCR_Crime_df.head(15)

,FIPS_ST,FIPS_CTY,population,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,...,MODINDX,MURDER,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,CODE
0,29,510,318416,1791.995377,1,1,4,1612,318667,318667,...,22329,119,200,1778,3609,4995,13791,3543,464,29510
1,5,035,49746,1754.914968,2,1,4,130,50717,50717,...,3424,8,38,165,662,1482,1753,189,28,5035
2,17,003,7629,1664.700485,3,1,4,604,8040,8040,...,278,1,2,5,119,82,184,12,2,17003
3,48,261,412,1456.310680,4,1,4,2681,444,444,...,13,0,3,1,2,5,4,4,0,48261
4,22,031,27083,1447.402430,5,1,4,1137,26971,26971,...,703,3,4,17,368,149,494,60,0,22031
5,24,510,622104,1419.537569,6,1,4,1227,625474,625474,...,29868,216,317,3638,4660,7804,18055,4009,251,24510
6,47,157,939465,1315.003752,7,1,4,2534,942807,942807,...,47864,135,483,3512,8224,14011,30620,3233,435,47157
7,45,069,28003,1253.437132,8,1,4,2377,28780,28780,...,1549,3,20,32,296,408,1074,67,5,45069
8,32,029,3942,1217.656012,9,1,4,1778,3947,3947,...,86,0,7,2,39,23,55,8,2,32029
9,11,001,646449,1216.801325,10,1,4,325,632323,632323,...,30757,88,236,4037,3505,3519,23575,3663,51,11001
10,45,033,31229,1165.583272,11,1,4,2359,32060,32060,...,1906,8,17,48,291,595,1206,105,12,45033
11,29,201,39290,1163.145839,12,1,4,1597,40941,40941,...,1277,2,7,26,422,236,1002,39,8,29201
12,42,101,1553165,1150.296330,13,1,4,2320,1538957,1538957,...,57000,332,881,7984,8669,12004,38595,6401,0,42101
13,32,027,6877,1148.756725,14,1,4,1777,6822,6822,...,75,0,3,1,75,27,43,5,0,32027
14,45,047,69723,1140.226324,15,1,4,2366,71009,70499,...,3651,7,39,73,676,965,2564,122,12,45047

In [4]:
# Finalize file for merging
#-----remove columns: STUDYNO, EDITION, PART, FLIPS_ST, FLIPS_CTY
#-----move Code to the front of the file - ensure that it is a int64.
UCR_Crime_df.drop(columns = ["index", "EDITION", "PART", "FIPS_ST", "FIPS_CTY"], inplace = True)
UCR_Crime_df["CODE"] = UCR_Crime_df["CODE"].apply("int64")
pd.set_option("precision",0)
collist = UCR_Crime_df.columns.tolist()
collist.insert(0, collist.pop(collist.index("CODE")))
UCR_Crime_df = UCR_Crime_df.reindex(columns = collist)

# Rename columns for better understanding
UCR_Crime_df.rename(columns={"AG_ARRST": "# COUNTY AGENCY REPORTING ARREST", "AG_OFF": "# COUNTY AGENCY REPORTING CRIME","COVIND": "COVERAGE INDICATOR"}, inplace = True)
UCR_Crime_df.rename(columns={"CPOPCRIM": "COUNTY POP - AGENCY REPORTING CRIME", "CPOPARST": "COUNTY POP - AGENCY REPORTING ARRESTS", "population": "POPULATION", "crime_rate_per_100000": "CRIME RATE PER 100k"}, inplace = True)
UCR_Crime_df.head(15)

,CODE,POPULATION,CRIME RATE PER 100k,IDNO,COUNTY POP - AGENCY REPORTING ARRESTS,COUNTY POP - AGENCY REPORTING CRIME,# COUNTY AGENCY REPORTING ARREST,# COUNTY AGENCY REPORTING CRIME,COVERAGE INDICATOR,INDEX,MODINDX,MURDER,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON
0,29510,318416,1792,1612,318667,318667,15,15,100,5706,22329,119,200,1778,3609,4995,13791,3543,464
1,5035,49746,1755,130,50717,50717,4,4,100,873,3424,8,38,165,662,1482,1753,189,28
2,17003,7629,1665,604,8040,8040,2,2,100,127,278,1,2,5,119,82,184,12,2
3,48261,412,1456,2681,444,444,1,1,100,6,13,0,3,1,2,5,4,4,0
4,22031,27083,1447,1137,26971,26971,3,3,100,392,703,3,4,17,368,149,494,60,0
5,24510,622104,1420,1227,625474,625474,9,9,100,8831,29868,216,317,3638,4660,7804,18055,4009,251
6,47157,939465,1315,2534,942807,942807,15,14,100,12354,47864,135,483,3512,8224,14011,30620,3233,435
7,45069,28003,1253,2377,28780,28780,9,8,100,351,1549,3,20,32,296,408,1074,67,5
8,32029,3942,1218,1778,3947,3947,1,1,100,48,86,0,7,2,39,23,55,8,2
9,11001,646449,1217,325,632323,632323,2,1,100,7866,30757,88,236,4037,3505,3519,23575,3663,51
10,45033,31229,1166,2359,32060,32060,9,8,100,364,1906,8,17,48,291,595,1206,105,12
11,29201,39290,1163,1597,40941,40941,7,8,100,457,1277,2,7,26,422,236,1002,39,8
12,42101,1553165,1150,2320,1538957,1538957,6,5,100,17866,57000,332,881,7984,8669,12004,38595,6401,0
13,32027,6877,1149,1777,6822,6822,2,2,100,79,75,0,3,1,75,27,43,5,0
14,45047,69723,1140,2366,71009,70499,10,8,100,795,3651,7,39,73,676,965,2564,122,12

In [5]:
UCR_Codes = "Resources/Codebook_County_Codes.csv"

# Read file and store in Pandas data frame
UCR_Codes_df = pd.read_csv(UCR_Codes)
#UCR_Codes_df.count()   --- all columns had the same count
UCR_Codes_df.head()

     State  Code   County  Unnamed: 3  Unnamed: 4  Unnamed: 5
0  Alabama  1001  Autauga         NaN         NaN         NaN
1  Alabama  1003  Baldwin         NaN         NaN         NaN
2  Alabama  1005  Barbour         NaN         NaN         NaN
3  Alabama  1007     Bibb         NaN         NaN         NaN
4  Alabama  1009   Blount         NaN         NaN         NaN

In [6]:
# Before mergining data:
# ------Remove Unnamed:3 - Unnamed:5
# ------Remove decimal in Code
#-------Rename Code to CODE
UCR_Codes_df.drop(columns = ["Unnamed: 3", "Unnamed: 4", "Unnamed: 5"], inplace = True)
UCR_Codes_df.rename(columns={"Code":"CODE", "State":"STATE", "County":"COUNTY"}, inplace = True)
UCR_Codes_df["CODE"] = UCR_Codes_df["CODE"].apply("int64")
pd.set_option("precision",0)
UCR_Codes_df.head(15)

      STATE  CODE    COUNTY
0   Alabama  1001   Autauga
1   Alabama  1003   Baldwin
2   Alabama  1005   Barbour
3   Alabama  1007      Bibb
4   Alabama  1009    Blount
5   Alabama  1011   Bullock
6   Alabama  1013    Butler
7   Alabama  1015   Calhoun
8   Alabama  1017  Chambers
9   Alabama  1019  Cherokee
10  Alabama  1021   Chilton
11  Alabama  1023   Choctaw
12  Alabama  1025    Clarke
13  Alabama  1027      Clay
14  Alabama  1029  Cleburne

In [7]:
# Merge Codebook_County_Codes.csv into UCR_Crime_Rates_by_County.csv
merged_UCR_Crime_df = pd.merge(UCR_Codes_df, UCR_Crime_df,on="CODE")
merged_UCR_Crime_df.head(15)
#merged_UCR_Crime_df.dtypes

,STATE,CODE,COUNTY,POPULATION,CRIME RATE PER 100k,IDNO,COUNTY POP - AGENCY REPORTING ARRESTS,COUNTY POP - AGENCY REPORTING CRIME,# COUNTY AGENCY REPORTING ARREST,# COUNTY AGENCY REPORTING CRIME,...,INDEX,MODINDX,MURDER,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON
0,Alabama,1001,Autauga,55246,252,1,57161,54604,3,3,...,139,1765,3,15,34,87,447,1233,85,108
1,Alabama,1003,Baldwin,195540,228,2,187467,187467,14,14,...,446,4988,8,30,76,332,967,3829,192,31
2,Alabama,1005,Barbour,27076,177,3,27228,25566,6,4,...,48,474,0,4,8,36,90,362,21,0
3,Alabama,1007,Bibb,22512,218,4,22907,22857,5,6,...,49,399,1,4,8,36,122,251,27,0
4,Alabama,1009,Blount,57872,211,5,57909,57909,6,6,...,122,1347,1,11,9,101,397,865,86,9
5,Alabama,1011,Bullock,10639,526,6,10584,10584,2,2,...,56,156,0,2,12,43,98,55,3,23
6,Alabama,1013,Butler,20265,538,7,20741,20733,4,4,...,109,621,6,5,11,87,182,408,30,3
7,Alabama,1015,Calhoun,116736,581,8,122213,118270,8,10,...,678,5339,6,37,131,504,1710,3482,147,34
8,Alabama,1017,Chambers,34162,562,9,34075,34075,4,4,...,192,1345,1,7,24,160,374,875,96,5
9,Alabama,1019,Cherokee,26203,416,10,26141,26162,4,5,...,109,1014,1,4,2,102,329,610,75,12
10,Alabama,1021,Chilton,43951,355,11,43975,44071,5,6,...,156,1362,0,13,14,129,389,886,87,8
11,Alabama,1023,Choctaw,13426,97,12,13664,13000,4,2,...,13,85,1,0,0,12,38,42,5,0
12,Alabama,1025,Clarke,25207,480,13,25798,25447,5,4,...,121,605,0,16,12,93,172,399,34,1
13,Alabama,1027,Clay,13486,430,14,13918,13918,3,3,...,58,132,0,0,3,55,26,95,11,24
14,Alabama,1029,Cleburne,14994,193,15,14895,14895,3,3,...,29,274,0,1,2,25,88,178,8,2

In [9]:
# Bring in data from the US census per couounty
# adding median income per county
response = requests.get("https://api.census.gov/data/2017/acs/acs1?get=NAME,B06011_001E&for=county:*").json()
# locate the first row and make it the column name and then drop row 0
income_df = pd.DataFrame(response)
income_df.columns = income_df.iloc[0]
income_df = income_df.drop([1])

# delete and null info and reset the index
income_df = income_df.dropna(how='any')
income_df.reset_index()

#replace the integer column names with values in row 0
income_df.columns = income_df.iloc[0]
income_df = income_df.drop([0])
income_df.reset_index()
income_df.head(15)
#income_df.dtypes

0                         NAME B06011_001E state county
2      Calhoun County, Alabama       26121    01    015
3      Cullman County, Alabama       22692    01    043
4       DeKalb County, Alabama       21581    01    049
5       Elmore County, Alabama       28967    01    051
6       Etowah County, Alabama       19861    01    055
7      Houston County, Alabama       25153    01    069
8    Jefferson County, Alabama       27868    01    073
9   Lauderdale County, Alabama       24553    01    077
10         Lee County, Alabama       24827    01    081
11   Limestone County, Alabama       26674    01    083
12     Madison County, Alabama       31755    01    089
13    Marshall County, Alabama       21600    01    095
14      Mobile County, Alabama       25192    01    097
15  Montgomery County, Alabama       23419    01    101
16      Morgan County, Alabama       23315    01    103

In [10]:
# create new columns for County and State
# ----Remove Columns: NAME, state, county
#-----Change column names to match merged UCR Crime data
#-----Remove word "County" in County name
income_df['County Name'] = income_df['NAME'].str.split(', ').apply(lambda x: x[0])
income_df['State Name'] = income_df['NAME'].str.split(', ').apply(lambda x: x[-1])
income_df['County Name'] = income_df['NAME'].str.split(' ').apply(lambda x: x[0])
income_df.drop(columns = ["NAME", "state", "county"], inplace = True)
income_df.rename(columns={"County Name":"COUNTY", "State Name":"STATE", "B06011_001E":"MEDIAN INCOME"}, inplace = True)
# Clean up formating in Median Income
income_df["MEDIAN INCOME"] = income_df["MEDIAN INCOME"].apply("int64")
income_df.head(15)
#income_df.dtypes

0   MEDIAN INCOME      COUNTY    STATE
2           26121     Calhoun  Alabama
3           22692     Cullman  Alabama
4           21581      DeKalb  Alabama
5           28967      Elmore  Alabama
6           19861      Etowah  Alabama
7           25153     Houston  Alabama
8           27868   Jefferson  Alabama
9           24553  Lauderdale  Alabama
10          24827         Lee  Alabama
11          26674   Limestone  Alabama
12          31755     Madison  Alabama
13          21600    Marshall  Alabama
14          25192      Mobile  Alabama
15          23419  Montgomery  Alabama
16          23315      Morgan  Alabama

In [11]:
# Merge Census Median Income into UCR_Crime_Rates_by_County.csv
# Move Median Income to front of chart
Crime_df = pd.merge(merged_UCR_Crime_df, income_df, on=["STATE", "COUNTY"], how="left" )
collist = Crime_df.columns.tolist()
collist.insert(4, collist.pop(collist.index("MEDIAN INCOME")))
Crime_df = Crime_df.reindex(columns = collist)

# delete and null info and reset the index
Crime_df = Crime_df.dropna(how='any')
Crime_df.head(15)

,STATE,CODE,COUNTY,POPULATION,MEDIAN INCOME,CRIME RATE PER 100k,IDNO,COUNTY POP - AGENCY REPORTING ARRESTS,COUNTY POP - AGENCY REPORTING CRIME,# COUNTY AGENCY REPORTING ARREST,...,INDEX,MODINDX,MURDER,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON
7,Alabama,1015,Calhoun,116736,26121,581,8,122213,118270,8,...,678,5339,6,37,131,504,1710,3482,147,34
21,Alabama,1043,Cullman,80811,22692,238,22,80832,80859,3,...,192,2065,2,16,13,161,483,1483,99,6
25,Alabama,1051,Elmore,80902,28967,284,26,80528,80484,7,...,230,2117,4,23,44,159,665,1367,85,14
27,Alabama,1055,Etowah,103931,19861,514,28,103809,97544,10,...,534,4209,2,45,126,361,1241,2674,294,42
34,Alabama,1069,Houston,103668,25153,401,35,103678,102780,9,...,416,3659,7,42,108,259,1095,2380,184,18
36,Alabama,1073,Jefferson,659479,27868,798,37,686887,659396,31,...,5265,31530,85,268,1597,3315,9910,19810,1809,185
38,Alabama,1077,Lauderdale,92797,24553,263,39,93154,93154,8,...,244,2312,3,28,55,157,612,1600,100,6
40,Alabama,1081,Lee,150933,24827,246,41,139698,144044,3,...,372,4024,8,26,77,261,954,2942,128,9
41,Alabama,1083,Limestone,88845,26674,152,42,80471,85712,3,...,135,1599,4,2,25,104,398,1146,56,0
44,Alabama,1089,Madison,346892,31755,603,45,346631,341477,11,...,2093,12692,18,107,523,1445,3217,8556,919,33
47,Alabama,1095,Marshall,94760,21600,187,48,95677,86049,8,...,177,2575,1,23,29,124,800,1648,127,8
48,Alabama,1097,Mobile,414079,25192,552,49,414233,414233,13,...,2287,17808,46,87,661,1493,4458,12315,1034,92
50,Alabama,1101,Montgomery,226659,23419,397,51,232964,232964,13,...,899,12682,45,45,465,344,3656,7855,1171,66
51,Alabama,1103,Morgan,119787,23315,255,52,120522,120435,8,...,305,3875,2,16,86,201,1114,2595,166,12
58,Alabama,1117,Shelby,204180,35453,177,59,175808,198032,10,...,361,4133,8,38,63,252,820,3110,203,8

In [18]:
# Bring in data from the US census per county
#------population density per county
#------median income per county
response = requests.get(f"https://api.census.gov/data/2017/pep/population?get=DENSITY,POP,NAME,STATE&for=county:*").json()
# locate the first row and make it the column name and then drop row 0
county_dens_df = pd.DataFrame(response)
county_dens_df.columns = county_dens_df.iloc[0]
county_dens_df = county_dens_df.drop([0])

# delete and null info and reset the index
county_dens_df = county_dens_df.dropna(how='any')
county_dens_df.head(15)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [54]:
# create new columns for County and State
# ----Remove Columns: NAME, state, county
#-----Change column names to match merged UCR Crime data
#-----Remove word "County" in County name
county_dens_df['County Name'] = county_dens_df['NAME'].str.split(', ').apply(lambda x: x[0])
county_dens_df['State Name'] = county_dens_df['NAME'].str.split(', ').apply(lambda x: x[-1])
county_dens_df['County Name'] = county_dens_df['NAME'].str.split(' ').apply(lambda x: x[0])
county_dens_df.drop(columns = ["NAME", "state", "county"], inplace = True)
county_dens_df.rename(columns={"County Name":"COUNTY", "State Name":"STATE", "POP": "POPULATION"}, inplace = True)
county_dens_df["POPULATION"] = county_dens_df["POPULATION"].apply("int64")
county_dens_df.head()

0               DENSITY  POPULATION     COUNTY       STATE
1      1.22086927860000        4198    Hidalgo  New Mexico
2  14555.93898300000000      672391     Hudson  New Jersey
3    290.70129177000000      124371  Hunterdon  New Jersey
4   1067.00355890000000      491845     Morris  New Jersey
5     13.09323114300000       71367   McKinley  New Mexico

In [56]:
# Merge Codebook_County_Codes.csv into UCR_Crime_Rates_by_County.csv
# Move Density and Population to front of chart
merged_Crime_df = pd.merge(Crime_df, county_dens_df, on=["STATE", "COUNTY"], how = "left")
collist = merged_Crime_df.columns.tolist()
collist.insert(4, collist.pop(collist.index("DENSITY")))
#collist.insert(5, collist.pop(collist.index("POPULATION")))
merged_Crime_df = merged_Crime_df.reindex(columns = collist)

# delete and null info and reset the index
merged_Crime_df = merged_Crime_df.dropna(how='any')
merged_Crime_df.reset_index()
merged_Crime_df.head(15)

,STATE,CODE,COUNTY,POPULATION_x,DENSITY,MEDIAN INCOME,CRIME RATE PER 100k,IDNO,COUNTY POP - AGENCY REPORTING ARRESTS,COUNTY POP - AGENCY REPORTING CRIME,...,MODINDX,MURDER,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,POPULATION_y
0,Alabama,1015,Calhoun,116736,187.50731202000000,24513,581,8,122213,118270,...,5339,6,37,131,504,1710,3482,147,34,113605
1,Alabama,1043,Cullman,80811,114.01021653000000,25523,238,22,80832,80859,...,2065,2,16,13,161,483,1483,99,6,83768
2,Alabama,1051,Elmore,80902,131.31128980000000,31124,284,26,80528,80484,...,2117,4,23,44,159,665,1367,85,14,81209
3,Alabama,1055,Etowah,103931,191.12364467000000,23297,514,28,103809,97544,...,4209,2,45,126,361,1241,2674,294,42,102268
4,Alabama,1069,Houston,103668,182.60057248000000,26035,401,35,103678,102780,...,3659,7,42,108,259,1095,2380,184,18,105882
5,Alabama,1073,Jefferson,659479,592.55351575000000,30732,798,37,686887,659396,...,31530,85,268,1597,3315,9910,19810,1809,185,658573
6,Alabama,1077,Lauderdale,92797,138.81313278000000,25048,263,39,93154,93154,...,2312,3,28,55,157,612,1600,100,6,92729
7,Alabama,1081,Lee,150933,270.83432209000000,27057,246,41,139698,144044,...,4024,8,26,77,261,954,2942,128,9,164542
8,Alabama,1083,Limestone,88845,176.64798277000000,29369,152,42,80471,85712,...,1599,4,2,25,104,398,1146,56,0,98915
9,Alabama,1089,Madison,346892,465.21086205000000,34885,603,45,346631,341477,...,12692,18,107,523,1445,3217,8556,919,33,372909
10,Alabama,1095,Marshall,94760,171.02562219000000,25710,187,48,95677,86049,...,2575,1,23,29,124,800,1648,127,8,96774
11,Alabama,1097,Mobile,414079,336.10418322000000,27003,552,49,414233,414233,...,17808,46,87,661,1493,4458,12315,1034,92,413210
12,Alabama,1101,Montgomery,226659,288.39277018000000,29186,397,51,232964,232964,...,12682,45,45,465,344,3656,7855,1171,66,226486
13,Alabama,1103,Morgan,119787,206.48553652000000,28388,255,52,120522,120435,...,3875,2,16,86,201,1114,2595,166,12,119679
14,Alabama,1117,Shelby,204180,277.19182547000000,39130,177,59,175808,198032,...,4133,8,38,63,252,820,3110,203,8,217702